# 忽略 macOS 的 .DS_Store 文件
.DS_Store
# 忽略 svn文件
.svn
.svn/

# 忽略 Xcode 用户数据文件夹（如 xcuserdata）
**/xcuserdata/

# 忽略 Xcode 生成的临时文件
**/*.xcuserstate

# 忽略 Xcode 项目中的构建文件
**/build/

# 忽略 Xcode 的配置文件
*.xcconfig

# 忽略 Podfile.lock (如果使用 CocoaPods)
Podfile.lock

# 忽略系统生成的文件（如 .Thumbs.db, .Desktop.ini 等）
Thumbs.db
Desktop.ini

# 忽略大文件
# Pods/AMap3DMap/MAMapKit.framework/MAMapKit
# **/AMap3DMap/
# Pods/OpenCV/opencv2.framework/Versions/A/opencv2